extends ../../layouts/default.pug

//- Tách thành các module để reuse and easy to management
include ../../mixins/filterStatus.pug
include ../../mixins/searchBar.pug
include ../../mixins/pagination.pug
include ../../mixins/formMultiChange.pug
include ../../mixins/showAlert.pug
include ../../mixins/sort.pug
include ../../mixins/403.pug

block main 
  +alert-success(3000)
  +alert-error(3000)

  if (role.permissions.includes("products-list_view"))
    h1 Products

    .card.mb-3
      .card-header Filler and search
      .card-body
        .row.align-items-center
          //- Filter status button:
          .col-6 
            +filter-status(buttonStatusFilter)
          
          //- Thanh tìm kiếm:
          .col-6
            +search-bar(keyword)

    .card.mb-3
      .card-header Sort by
      .card-body
        .row.align-items-end
          .col-md-6
            +sort()
            
    .card.mb-3 
      .card-header List 
      .card-body 
        .row
          if (role.permissions.includes("products-list_edit"))
            .col-8
              +form-multi-change(`${prefixAdmin}/product-list/multi-change?_method=PATCH`)
          
          if (role.permissions.includes("products-list_create") && role.permissions.includes("products-list_edit"))
            .col-4.mb-3.text-right
              a(
                href=`${prefixAdmin}/product-list/create-new`
                class="btn btn-outline-success"
                create-new-product
              ) + Create new

          if (!role.permissions.includes("products-list_edit") && role.permissions.includes("products-list_create"))
            .col-12.mb-3.text-right
              a(
                href=`${prefixAdmin}/product-list/create-new`
                class="btn btn-outline-success"
                create-new-product
              ) + Create new

        table(
            class="table table-hover table-sm"
            checkbox-multi
          )
          thead 
            tr 
              if (role.permissions.includes("products-list_edit"))
                th 
                  input(type="checkbox" name="checkall")
              th Order 
              th Image
              th Title
              th Price
              th Position
              th Status 
              th Actions
          tbody
            if (products.length > 0) 
              each product, index in products 
                tr 
                  if (role.permissions.includes("products-list_edit"))
                    td 
                      input(
                        type="checkbox"
                        name="id"
                        value=product.id
                      )
                  td #{index + 1 + (pagination.currentPage - 1) * pagination.limit} 
                  td 
                    img(
                      src=product.thumbnail
                      alt=product.title
                      width="100px"
                      height="auto"    
                    )
                  td #{product.title}
                  td #{product.price}$
                  td 
                    input(
                      type="number"
                      value=product.position 
                      style="width:60px"
                      min=1
                      name="product-position"
                    )
                  td 
                    if (role.permissions.includes("products-list_edit"))
                      if (product.status === "active")
                        //- Cách 1: 
                        //- href=`/admin/product-list/change-status/active/${product.id}` 
                        //- Cách dùng đường dẫn như này vẫn được nhưng khi điều hướng tới 1 trang khác mặc định nó sẽ dùng
                        //- phương thức GET nhưng đây là ta cập nhật sản phẩm thì phải dùng phương thức PATCH

                        //- Cách 2:
                        //- href="javascript:;"
                        //- Khi nhấn vào liên kết này, trình duyệt không điều hướng đến trang khác. Ta dùng để bắt sự kiện.

                        //- Cách 3: 
                        //- Dùng thẻ button, div, ... để bắt sự kiện.
                      
                        a(
                          href="javascript:;"
                          button-change-status
                          product-id=product.id
                          current-status=product.status
                          class="badge badge-success"
                        ) Active
                      else 
                        a(
                          href="javascript:;"
                          button-change-status
                          product-id = product.id
                          current-status = product.status
                          class="badge badge-danger"
                        ) Inactive 
                    else 
                      if (product.status === "active")
                        span(class="badge badge-success") Active
                      else 
                        span(class="badge badge-danger") Inactive
                  td 
                    //- Có thể sử dụng thẻ a thì k cần bắt sự kiện
                    button(
                      class="btn btn-secondary btn-sm mr-1"
                      button-detail
                      default-path=`${prefixAdmin}/product-list/detail-product`
                      product-id = product.id
                    ) Detail
                    
                    if (role.permissions.includes("products-list_edit"))
                      button(
                        class="btn btn-warning btn-sm"
                        button-modify
                        default-path=`${prefixAdmin}/product-list/modify-product`
                        product-id = product.id
                      ) Modify 

                    if (role.permissions.includes("products-list_delete"))
                      button(
                          class="btn btn-danger btn-sm ml-1"
                          data-toggle="modal" 
                          data-target="#confirmDeleteModal"
                        ) Delete
                      //- Modal confirm delete
                      #confirmDeleteModal.modal.fade(tabindex='-1' aria-labelledby='confirmDeleteModal' aria-hidden='true')
                        .modal-dialog.modal-dialog-centered
                          .modal-content
                            .modal-header
                              h5#confirmDeleteModal.modal-title CONFIRM DELETE
                              button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                            .modal-body
                              | Are you sure you want to delete this product?
                            .modal-footer
                              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                              button.btn.btn-primary(type='button' button-delete-product product-id = product.id) Delete

            else 
              tr 
                td Not found
              
    +pagination(pagination)

    //- Dùng 1 form giả để điều hướng theo path trong action(Để thay đổi product status):
    //- Lưu ý: method trong form chỉ có 2 phương thức GET và POST mà ở đây ta cập nhật sản phẩm -> PATCH do đó cần cài thư viện để có thể đổi thành PATCHATCH
    //- Ở đây ta để method = "POST" do override cần dùng method POST.
    //- Tại sao ta dùng phương thức PATCH trong khi GET ta vẫn cập nhật được?
    //- Do trình duyệt mặc định sử dụng GET mà khi người dùng truy cập vào đường dẫn ấy thì sẽ làm thay đổi dữ liệu của ta.
    //- Do đó sử dụng PATCH để tránh bị việc này.
    if (role.permissions.includes("products-list_edit"))
      form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/product-list/change-status`
      )
    if (role.permissions.includes("products-list_delete"))
      form(
        action=""
        method="POST"
        id="form-delete-product"
        data-path=`${prefixAdmin}/product-list/delete-product`
      )
  else 
    +403()

  script(src="/admin/js/product.js")