include ../../mixins/subMenu.pug

header.header 
  .container 
    .row.align-items-center 
      .col-3
        .inner-logo
          a(href="/")
            img(src="/uploads/logoWeb.png", alt="logo")

      .col-5 
        form(
          action=`/search?keyword=${keyword}`
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            )
              | Find

      .col-4
        .inner-menu 
          ul 
            li
              a(href="/") Home Page
            li(class="sub-menu")
              -const pathProduct = "/products";
              a(href=pathProduct) Products
              +subMenu(productCategoriesDropdown, pathProduct)