include ../../mixins/subMenu.pug

header.header 
  .container 
    .row.align-items-center 
      .col-2.text-left
        .inner-logo
          a(href="/")
            img(src=`${generalSettings.logo}`, alt=`${generalSettings.websiteName}`)

      .col-4
        form(
          action=`/search?keyword=${keyword}`
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            )
              | Find

      .col-6
        .inner-menu 
          ul 
            li
              a(href="/") Home Page

            li(class="sub-menu")
              - const pathProduct = "/products";
              a(href=pathProduct) Products
              +subMenu(productCategoriesDropdown, pathProduct)
            
            li
              a(href="/cart")
                i.bi.bi-cart.me-1 
                | Cart
                span(class="ms-1 mini-cart-total-quantity") (#{cart.totalQuantity || 0})
            
            if (!user)
              li
                a(href="/user/login")
                  | Login
                  
              li
                a(href="/user/register")
                  | Register
            else  
              li 
                a(href="/chat")
                  | Chat

              li 
                a(
                  href=`/user/profile`
                  class="btn btn-primary btn-sm mr-2"
                ) #{user.fullName}
                  
              li 
                a(href="/user/logout")
                  | Logout
              
              