extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    //- Dependencies
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview/dist/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="stylesheet", href="/client/css/chat.css")

    .container.my-3
        .row
            .col-12
                +box-head("Chat")

        .row
            .col-12
                .chat(myId=user._id)
                    //- Phần thân chat
                    .inner-body
                        each chat in chats
                            - const isMe = chat.userId == user._id
                            //- Sử dụng class chung và modifier `incoming`/`outgoing`
                            .message-container(class=isMe ? 'outgoing' : 'incoming')
                                if !isMe
                                    - const name = (chat.infoUser && chat.infoUser.fullName) ? chat.infoUser.fullName : 'Unknown'
                                    .message-avatar= name[0].toUpperCase()
                                    .message-content-wrapper
                                        .message-sender-name.ml-0= name
                                        if chat.content
                                            .message-bubble= chat.content
                                        if chat.images && chat.images.length > 0
                                            .message-images
                                                each image in chat.images
                                                    a(href=image, target="_blank")
                                                        img(src=image, alt="Image")
                                else
                                    //- Tin nhắn của tôi cũng có wrapper để đồng nhất
                                    .message-content-wrapper
                                        if chat.content
                                            .message-bubble= chat.content
                                        if chat.images && chat.images.length > 0
                                            .message-images
                                                each image in chat.images
                                                    a(href=image, target="_blank")
                                                        img(src=image, alt="Image")

                        //- Khu vực dành cho chỉ báo "đang gõ"
                        .inner-list-typing

                    //- Khu vực preview ảnh
                    .inner-preview-images
                        .custom-file-container(data-upload-id="upload-image")

                    //- Phần nhập liệu
                    .inner-foot
                        form.inner-form(action="", method="POST")
                            label.icon-button.mb-0(for="file-upload-with-preview-upload-image")
                                i.fas.fa-image
                            input.form-control(type="text", placeholder="Nhập nội dung...", name="content", autocomplete="off")
                            .icon-button.button-emoij
                                i.fas.fa-smile
                                .tooltip(role="tooltip")
                                    emoji-picker.light
                            button.icon-button(type="submit")
                                i.fa-solid.fa-paper-plane

    //- TEMPLATE CHO TIN NHẮN MỚI (JavaScript sẽ sử dụng)
    template#message-template-incoming
        .message-container.incoming
            .message-avatar
            .message-content-wrapper
                .message-sender-name
                //- Thêm một div để chứa cả bubble và ảnh
                .message-body
    
    template#message-template-outgoing
        .message-container.outgoing
            .message-content-wrapper
                //- Thêm một div để chứa cả bubble và ảnh
                .message-body

    //- Scripts
    script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
    script(src="/socket.io/socket.io.js")
    script(type="module" src="/client/js/chat.js")