extends ../../layouts/default.pug

include ../../mixins/box-head.pug

block main
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", integrity="sha512-yzS+...==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet", href="/client/css/chat.css")

    .container.my-3
        .row
            .col-12
                +box-head("Chat")
        .row
            .col-12
                .chat
                    //-.inner-head
                    //-  .inner-avatar EY
                    //-  .inner-name Em Yêu

                    .inner-body
                        each chat in chats 
                            if chat.userId == user._id
                                .inner-outgoing
                                    .inner-content 
                                        | #{chat.content}
                            else 
                                .inner-incoming
                                    if chat.infoUser
                                        .inner-name #{chat.infoUser.fullName}
                                    else 
                                        .inner-name Unknow
                                    .inner-content 
                                        | #{chat.content}
                                        
                    .inner-foot
                        form(class="inner-form", action="")
                            input(
                                type="text",
                                placeholder="Nhập nội dung...",
                                name="content"
                            )
                            button
                                i.fa-solid.fa-paper-plane
    script(src="/socket.io/socket.io.js")
    script(src="/client/js/chat.js")